@media (min-width: 768px) {
    
}

button:focus{ 
    outline: 0;
}

.gallery {
    padding: 40px;
}

.red {
    display: grid;
    gap: 20px;
}

.red1 {
    grid-template-columns: repeat(3, 1fr);
}

.red2{
    grid-template-columns: repeat(2, 1fr);
}

.portrait {
    grid-row: span 2 / auto;
}

.gallery .lightbox img {
    width: 100%;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.gallery .lightbox img:hover {
    transform: scale(1.03);
    filter: opacity(0.7);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


.folder {
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    position: relative;
    vertical-align: top;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    border-radius: 4px;
    cursor: pointer;
}
  
.folder * {
    position: relative;
}

.overlay {
    position: relative;
}
  
.overlay::before{
    position: absolute;
    display: block;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:0;
    border-radius: 4px;
    background-color: rgba(199, 97, 0, 0.75);
}

.folder:hover {
    transform: scale(1.03);
    filter: opacity(0.75);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}
  
.tekstPrekoSlike {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    font-size: 1.4rem;
    color: #ffffff;
  }
  
.dummy {
    padding-top: 75%;
}
  
.stickyContainer {
    position: relative;
    float: left;
    top: 40px;
    left: 200px;
    height: calc(100vh - 90px);
}

@keyframes dugmeNazadOut {
    from {
        transform: scale(1.2);
        color: rgb(256, 124, 58);
    }
    
    to {
        transform: scale(1);
        color: rgb(226, 94, 28);
    }
}

.dugmeNazad {
    position: sticky;
    top: 40px;
    height: 30px;
    width: auto;
    color: rgb(226, 94, 28);
    cursor: pointer;
    animation-name: dugmeNazadOut;
    animation-timing-function: ease-in-out;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

@keyframes dugmeNazadHover {
    0% {
        transform: rotateZ(0deg) scale(1);
        color: rgb(226, 94, 28);
    }

    25% {
        transform: rotateZ(-15deg) scale(1.2);
    }

    50% {
        transform: rotateZ(25deg) scale(1.1);
    }

    75% {
        transform: rotateZ(0deg)scale(1.3);
    }

    100% {
        transform: rotateZ(0deg)scale(1.2);
        color: rgb(256, 124, 58);
    }

}

.dugmeNazad:hover {
    animation-name: dugmeNazadHover;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
  