@import url("typewritter.css");
@import url("galerija.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:200,100,400");
@font-face {
  font-family: "zektonregular";
  src: url("../fonts/zekton_rg-webfont.woff2") format("woff2"),
    url("../fonts/zekton_rg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "zektonregular";
}

::-webkit-scrollbar {
  width: 7px;
  overflow: hidden;
}

::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: rgb(241, 104, 36);
  border-radius: 3px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0, 0.3);
}

header {
  z-index: 1;
  background-color: white;
  position: sticky;
  top: 0px;
  width: 100%;
  height: auto;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.3);
}

.logonavbar {
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  background-color: #fff;
  top: 5px;
  left: -330px;
  top: -330px;
  height: 300px;
  width: 300px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}

.logonavbar img {
  height: 80px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: auto;
}

.navigacija a {
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(57, 59, 71);
}

.navigacija a:active {
  color: rgb(57, 59, 71);
}

.navigacija {
  margin-left: auto;
  margin-right: 60px;
  height: 60px;
  width: 50%;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  padding: 0.5rem 1rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navigacija li {
  align-self: center;
  z-index: 1;
}

a {
  color: rgb(48, 52, 74);
  transition: color 0.3s ease;
}

a:hover {
  color: rgb(241, 104, 36);
}

a:hover {
  text-decoration: none;
}

a:active {
  color: rgb(241, 104, 36);
}

.bubble {
  align-self: center;
  position: absolute;
  background-color: rgb(226, 94, 28);
  border-radius: 1px;
  transform: scale(1.4);
  transition: all 0.3s ease;
}

.sitewindow {
  position: absolute;
  top: 60px;
  height: calc(100vh - 60px);
  width: 100%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  background-image: url("../images/site-bg.jpg");
  background-size: cover;
  background-position-x: right;
  background-attachment: fixed;
}

.hero {
  position: relative;
  overflow: hidden;
  background-image: url("../images/hero.png");
  background-size: cover;
  background-position-x: right;
  background-attachment: fixed;
}

.modeling {
  display: flex;
  width: 70%;
  margin-top: 40px;
  margin-left: 40px;
}

.logo-outter {
  padding: 10px;
}

.logo {
  min-width: 250px;
}

.about {
  margin-top: 80px;
  margin-left: 80px;
  padding: 20px;
  color: rgb(48, 52, 74);
  font-size: 1.1rem;
  text-align: center;
  width: 40%;
  height: auto;
}

.saznajVise {
  display: inline-block;
  font-weight: 400;
  color: #343a40;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid #343a40 !important;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.saznajVise:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  text-decoration: none;
}

.carousel-control-next, .carousel-control-prev {
  width: 6%;
  min-width: 115px;
}

.carousel-inner {
  height: calc(100vh - 60px);
}

.carousel-item {
  height: 100%;
}

.page {
  height: calc(100vh - 60px);
}

#galerija {
  min-height: calc(100vh - 60px) !important;
}

.buttonContainer {
  display: flex;
}

#usluge {
  -webkit-box-shadow: 0px -11px 45px -26px rgba(0,0,0,0.91);
  -moz-box-shadow: 0px -11px 45px -26px rgba(0,0,0,0.91);
  box-shadow: 0px -11px 45px -26px rgba(0,0,0,0.91);
}

#karijera {
  background-image: url("../images/karijera.jpg");
  background-size: cover;
  background-position-x: right;
}

.karijeraTekst {
  background-color: rgba(226, 94, 28, 0.9);
  color: white;
  padding: 80px 40px 0px 40px;
  font-size: 1.2rem;
  text-align: justify;
  height: 100%;
  width: 600px;
  margin-left: auto;
}

button {  
  border-radius: 0px;
  border: none;
}

.tabcontent {
  display: none;
  height: calc(100% - 45px);
}

.tablink {
  transition-duration: 0.2s;
  height: 45px;
  flex: 1;
  font-size: 1.05rem;
}

.tablink:hover {
  background-color: #cacaca;
}


.slideUsluge {
  height: 100%;
  display: flex;
}

.uslugeNaslov {
  font-size: 1.4rem;
}

.uslugeBitno {
  font-size: 1.1rem;
}

.pagetext {
  background-color: rgb(226, 94, 28);
  width: 500px;
  height: 100%;
  color: #fff;
  padding: 60px;
  text-align: justify;
}

.page1img {
  background-image: url('../images/section1.jpg');
  background-size: cover;
  background-position: center;
  flex: 1;
  height: 100%;
}

.page2img {
  background-image: url('../images/section2.jpg');
  background-size: cover;
  background-position: center;
  filter: grayscale(0.2);
  flex: 1;
  height: 100%;
}

.page3img {
  background-image: url('../images/section3.jpg');
  background-size: cover;
  background-position: center;
  flex: 1;
  height: 100%;
}

.kontaktcontainer {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
}

.kontaktpodaci {
  align-self: center;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
  line-height: 60px;
  border-radius: 10px;
}

.mapa {
  height: calc(100vh - 180px);
  width: 1000px;
  align-self: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  -webkit-animation-name: modalOpacityOn;
  -webkit-animation-duration: 0.4s;
  animation-name: modalOpacityOn;
  animation-duration: 0.4s;
  transition-duration: 0.4s;
}

.modal-izlaz {
  -webkit-animation-name: modalOpacityOff;
  -webkit-animation-duration: 0.4s;
  animation-name: modalOpacityOff;
  animation-duration: 0.4s;
}

.modalButton {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 70px;
  padding: 10px;
  font-size: 1.1rem;
  line-height: 1.1rem;
}

.modal-sadrzaj {
  position: relative;
  margin: auto;
  padding: 0;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-sadrzaj-izlaz {
  -webkit-animation-name: animateexit;
  -webkit-animation-duration: 0.4s;
  animation-name: animateexit;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@-webkit-keyframes animateexit {
  from {top:0px; opacity:1}
  to {top:-300px; opacity:0}
}

@keyframes animateexit {
  from {top:0px; opacity:1}
  to {top:-300px; opacity:0}
}

@-webkit-keyframes modalOpacityOn {
  from {opacity:0} 
  to {opacity:1}
}

@keyframes modalOpacityOn {
  from {opacity:0}
  to {opacity:1}
}

@-webkit-keyframes modalOpacityOff {
  from {opacity:1}
  to {opacity:0}
}

@keyframes modalOpacityOff {
  from {opacity:1}
  to {opacity:0}
}

.zatvori {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.zatvori:hover,
.zatvori:focus {
  color: rgb(255, 233, 191);
  text-decoration: none;
  cursor: pointer;
}

.modal-naslov {
  height: 60px;
  padding: 0px 16px 1px 16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgb(226, 94, 28);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalNaslovTekst {
  font-size: 1.8rem;
}

.modal-telo {
  padding: 2px 16px;
  background-color: #fafafa;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

form {
  padding: 20px;
}

.formular {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}

label {
  margin-top: 0.5rem;
  margin-bottom: 0;
  width: 80%;
}

input {
  width: 100%;
}

.posaljiFormular {
  display: block;
  margin-left: auto;
  background-color: rgb(226, 94, 28);
  color: white;
  padding: 15px;
  line-height: 1.2rem;
  font-size: 1.2rem;
}

#cvstatus {
  display: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  transition-duration: 0.4s;
  -webkit-animation-name: galerijaUlaz;
  -webkit-animation-duration: 1s;
  animation-name: galerijaUlaz;
  animation-duration: 1s;
}

#cvstatus ul {
  margin-bottom: 0px;
}

.show-cv-status {
  display: block !important;
}

.cvstatus-error {
  border: 2px solid red;
  background-color: mistyrose;
}

.cvstatus-success {
  border: 2px solid forestgreen;
  background-color: rgb(220, 255, 220);
}

.fomularIzlaz {
  -webkit-animation-name: formularIzlaz;
  -webkit-animation-duration: 0.4s;
  animation-name: formularIzlaz;
  animation-duration: 0.4s;
}

@keyframes formularIzlaz {
  from {
      height: 100%;
      opacity: 1;
  }
  to {
      height: 0%;
      opacity: 0;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (orientation: landscape) {

  @media (max-width: 767px)  {
    html {
      font-size: 10px;
    }

    .sitewindow {
      top: 40px;
      height: calc(100vh - 40px);
    }

    .navigacija {
      height: 40px;
      padding: 0.5rem 0;
      width: 55%;
      margin-right: 30px;
    }

    .page {
      height: calc(100vh - 40px);
    }

    .kontaktcontainer {
      flex-direction: column;
      height: auto;
    }

    .mapa {
      margin: 20px;
      height: calc(100vh - 100px);
      width: 80%;
    }

    .logonavbar {
      height: 250px;
      width: 250px;
    }

    .logonavbar img {
      bottom: 37px;
      right: 38px;
      height: 60px;
    }

    .bubble {
      transform: scale(1.1);
    }

    .modeling {
      margin-top: 10px;
      margin-bottom: 0px;
    }

    .typewrittertext {
      line-height: 1;
    }

    .typewritter {
      padding: 3rem 3rem 0 1rem;
    }

    .logo {
      min-width: 130px;
    }

    .tekstPrekoSlike {
      font-size: 1.2rem;
    }
  
    #usluge {
      height: 400px;
    }

    .pagetext {
      padding: 20px;
      width: 350px;
      line-height: 1.3;
      font-size: 0.95rem;
    }

    #karijera {
      height: 350px;
    }

    .karijeraTekst {
      width: 250px;
      font-size: 1.1rem;
      padding: 30px 30px 0 30px;
    }

    .modalButton {
      margin-top: 40px;
    }

    .about {
      margin-left: 20px;
      width: 50%;
      margin-top: 0px;
      padding: 5px;
      font-size: 0.9rem;
    }

    .container {
        max-width: 960px;
    }

    .stickyContainer {
      left: 10px;
    }

    .dugmeNazad {
      top: 120px;
    }

    .opis-albuma-slika {
      font-size: 1.4rem;
    }

    .kontaktpodaci {
      font-size: 1.1rem;
      line-height: 30px;
      padding: 20px;
      margin-bottom: 20px;
    }

    .modal {
      padding-top: 0px;
    }

    .modal-sadrzaj {
      width: 90%;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    html {
      font-size: 12px;
    }

    .sitewindow {
      top: 40px;
      height: calc(100vh - 40px);
    }

    .navigacija {
      height: 40px;
      padding: 0.5rem 0;
      width: 55%;
      margin-right: 30px;
    }

    .page {
      height: calc(100vh - 40px);
    }

    .kontaktcontainer {
      flex-direction: column;
      height: auto;
    }

    .mapa {
      margin: 20px;
      height: calc(100vh - 100px);
      width: 600px;
    }

    .logonavbar {
      height: 250px;
      width: 250px;
    }

    .logonavbar img {
      bottom: 37px;
      right: 38px;
      height: 60px;
    }

    .bubble {
      transform: scale(1.2);
    }

    .modeling {
      margin-top: 10px;
      margin-bottom: 0px;
    }

    .typewrittertext {
      line-height: 1;
    }

    .typewritter {
      padding: 3rem 3rem 0 1rem;
    }

    .logo {
      min-width: 180px;
    }
  
    #usluge {
      height: 440px;
    }

    .pagetext {
      padding: 30px;
      width: 450px;
      line-height: 1.3;
      font-size: 0.95rem;
    }

    .karijeraTekst {
      width: 380px;
      font-size: 1.1rem;
      padding: 40px 40px 0 40px;
    }

    .modalButton {
      margin-top: 40px;
    }

    .about {
      margin-left: 20px;
      width: 50%;
      margin-top: 0px;
    }

    .container {
        max-width: 960px;
    }

    .stickyContainer {
      left: 10px;
    }

    .dugmeNazad {
      top: 120px;
    }

    .opis-albuma-slika {
      font-size: 1.4rem;
    }

    .kontaktpodaci {
      font-size: 1.1rem;
      line-height: 30px;
      padding: 20px;
      margin-bottom: 20px;
    }

    .modal {
      padding-top: 0px;
    }

    .modal-sadrzaj {
      width: 70%;
    }
  }

  @media (min-width: 992px) {
    html {
      font-size: 13px;
    }

    .mapa {
      width: 450px;
    }

    .bubble {
      transform: scale(1.3);
    }

    .logo {
      min-width: 200px;
    }

    .typewrittertext {
      line-height: 4.8;
    }

    .pagetext {
      padding: 30px;
      width: 450px;
    }

    .karijeraTekst {
      width: 430px;
    }

    .about {
      margin-top: 40px;
    }

    .container {
        max-width: 960px;
    }

    .stickyContainer {
      left: 20px;
    }

    .dugmeNazad {
      top: 120px;
    }

    .kontaktpodaci {
      line-height: 40px;
    }

    .modal-sadrzaj {
      width: 70%;
    }
  }

  @media (min-width: 1200px) {
    html {
      font-size: 14px;
    }

    .mapa {
      width: 700px;
    }

    .bubble {
      transform: scale(1.3);
    }

    .logo {
      min-width: 220px;
    }

    .karijeraTekst {
      width: 500px;
    }

    .container {
        max-width: 1140px;
    }

    .kontaktpodaci {
      line-height: 50px;
    }

    .modal-sadrzaj {
      width: 61%;
    }
  }

  @media (min-width: 1600px) {
    html {
      font-size: 16px;
    }

    .stickyContainer {
      left: 200px;
    }

    .dugmeNazad {
      top: 40px;
    }

    .mapa {
      width: 1000px;
    }

    .bubble {
      transform: scale(1.3);
    }

    .logo {
      min-width: 250px;
    }

    .karijeraTekst {
      width: 500px;
    }

    .modal-sadrzaj {
      width: 50%;
    }

  }
}

@media (orientation: portrait) {

  @media (max-width: 400px)  {
    html {
      font-size: 10px;
    }

    header {
      position: fixed;
      bottom: 0px;
      top: unset;
      overflow: hidden;
    }

    .sitewindow {
      top: 0px;
      height: calc(100vh - 40px);
    }

    .navigacija {
      height: 40px;
      padding: 0.5rem 10px;
      width: 100%;
      margin-bottom: 0px;
    }

    .hero {
      background-position-x: center;
    }

    .page1img, .page2img, .page3img {
      flex: unset;
    }

    .slideUsluge {
      flex-direction: column;
    }

    .page {
      height: calc(100vh - 40px);
    }

    .kontaktcontainer {
      flex-direction: column;
      height: auto;
    }

    .mapa {
      margin: 20px;
      height: calc(100vh - 100px);
      width: 80%;
    }

    .logonavbar {
      display: none;
      height: 250px;
      width: 250px;
    }

    .logonavbar img {
      bottom: 37px;
      right: 38px;
      height: 60px;
    }

    .bubble {
      transform: scaleX(1.2) scaleY(4);
    }

    .modeling {
      margin-top: 10px;
      margin-bottom: 0px;
    }

    .typewrittertext {
      line-height: 1;
    }

    .typewritter {
      padding: 3rem 3rem 0 1rem;
    }

    .logo {
      min-width: 130px;
    }

    .tekstPrekoSlike {
      font-size: 1.2rem;
    }
  
    .pagetext {
      padding: 20px;
      width: 100%;
      line-height: 1.3;
      font-size: 0.95rem;
    }

    #karijera {
      display: flex;
      background-position-x: left;
    }

    .gallery {
      padding: 20px;
    }

    .red1, .red2 {
      grid-template-columns: repeat(1, 1fr);
    }


    .karijeraTekst {
      width: 100%;
      height: unset;
      margin-top: auto;
      font-size: 1.1rem;
      padding: 30px 30px 0 30px;
    }

    .modalButton {
      margin-top: 40px;
      margin-bottom: 20px;
    }

    .about {
      margin-left: 20px;
      width: 50%;
      margin-top: 0px;
      padding: 5px;
      font-size: 0.9rem;
    }

    .container {
        max-width: 960px;
    }

    .stickyContainer {
      left: 5px;
    }

    .dugmeNazad {
      top: 120px;
      height: 25px;
    }

    .opis-albuma-slika {
      font-size: 1.4rem;
    }

    .kontaktpodaci {
      font-size: 1.1rem;
      line-height: 30px;
      padding: 20px;
      margin-bottom: 20px;
    }

    .modal {
      padding-top: 30px;
    }

    .modal-sadrzaj {
      width: 90%;
    }

    .formular {
      grid-template-columns: 1fr;
    }
  }

  @media (min-width: 401px) and (max-width: 800px) {
    html {
      font-size: 13px;
    }

    header {
      position: fixed;
      bottom: 0px;
      top: unset;
      overflow: hidden;
    }

    .sitewindow {
      top: 0px;
      height: calc(100vh - 40px);
    }

    .navigacija {
      height: 40px;
      padding: 0.5rem 10px;
      width: 100%;
      margin-bottom: 0px;
    }

    .hero {
      background-position-x: center;
    }

    .page1img, .page2img, .page3img {
      flex: unset;
    }

    .slideUsluge {
      flex-direction: column;
    }

    .page {
      height: calc(100vh - 40px);
    }

    .kontaktcontainer {
      flex-direction: column;
      height: auto;
    }

    .mapa {
      margin: 20px;
      height: calc(100vh - 100px);
      width: 80%;
    }

    .logonavbar {
      display: none;
      height: 250px;
      width: 250px;
    }

    .logonavbar img {
      bottom: 37px;
      right: 38px;
      height: 60px;
    }

    .bubble {
      transform: scaleX(1.2) scaleY(4);
    }

    .modeling {
      margin-top: 10px;
      margin-bottom: 0px;
    }

    .typewrittertext {
      line-height: 1;
    }

    .typewritter {
      padding: 3rem 3rem 0 1rem;
    }

    .logo {
      min-width: 130px;
    }

    .tekstPrekoSlike {
      font-size: 1.2rem;
    }
  
    .pagetext {
      padding: 20px;
      width: 100%;
      height: unset;
      line-height: 1.3;
      font-size: 0.95rem;
    }

    #karijera {
      display: flex;
      background-position-x: left;
    }

    .gallery {
      padding: 20px;
    }

    .red1, .red2 {
      grid-template-columns: repeat(1, 1fr);
    }


    .karijeraTekst {
      width: 100%;
      height: unset;
      margin-top: auto;
      font-size: 1.1rem;
      padding: 30px 30px 0 30px;
    }

    .modalButton {
      margin-top: 40px;
      margin-bottom: 20px;
    }

    .about {
      margin-left: 20px;
      width: 50%;
      margin-top: 0px;
      padding: 5px;
      font-size: 0.9rem;
    }

    .container {
        max-width: 960px;
    }

    .stickyContainer {
      left: 5px;
    }

    .dugmeNazad {
      top: 120px;
      height: 25px;
    }

    .opis-albuma-slika {
      font-size: 1.4rem;
    }

    .kontaktpodaci {
      font-size: 1.1rem;
      line-height: 30px;
      padding: 20px;
      margin-bottom: 20px;
    }

    .modal {
      padding-top: 30px;
    }

    .modal-sadrzaj {
      width: 90%;
    }

    .formular {
      grid-template-columns: 1fr;
    }
  }
}